{{ define "navbar" }}
<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">

    <a class="navbar-brand fw-bold" style="color: #1a32abd5" href="/">OTP</a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link ms-3" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link ms-3" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link ms-3" href="/about">About</a>
        </li>

        <!-- <li class="nav-item ">
          <a class="btn btn-info px-3" href="/signup">Sign up</a>
          <a class="btn btn-dark px-3" href="/signin">Log In</a>
        </li> -->

      </ul>

    </div>
  </div>
</nav>
{{ end }}