{{ define "navbar" }}
<nav class="navbar navbar-expand-lg bg-white border-bottom fixed-top">
  <div class="container">

    <a class="navbar-brand fw-semibold" href="/">Golang App</a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">

      <ul class="navbar-nav w-100">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item ms-lg-auto">
          <a class="btn btn-info px-3" href="/signup">Sign up</a>
          <a class="btn btn-dark px-3" href="/signin">Log In</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
{{ end }}