{{ define "content" }}
    <div class="container text-center position-relative">
        <div class="about-main mt-5">
            <h1 class="mb-5 text-center">Relive your favourite memories</h1>
        </div>
            
        <div class="p-3">
            <h2>No more sorting through photos</h2>
            <p>Stories automatically finds your best photos and creates a new travelogue.  This way you can capture and share your special moments in fresh new ways</p>
        </div>
    </div>
  
{{ end }}