{{ define "content" }}
<div class="container">    
    <div class="jumbotron">
      <div class="row mt-5">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
              <img src="/assets/images/passport.jpg" width=300 alt="stack photo" class="img">
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
              <div class="container" style="border-bottom:1px solid black">
                <h1>Mike Walsh</h1>
              </div>
              <ul class="container details mt-3">
                <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p></li>
                <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com</p></li>
                <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Sydney</p></li>
                <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
              </ul>
          </div>
      </div>
    </div>
{{ end }}
