{{ define "content" }}
<div class="container">
  <div class="home-main">
    <div class="row">
      <div class="mt-150 text-center position-relative col-md-12 col-md-offset-6">
        <h1 class="text-white mb-5 text-center fw-light">Create and share Stories</h1>
        <p>
          <a class="btn btn-primary btn-lg" href="/about">Learn more</a>
        </p>
      </div>
    </div>
  </div>

  <div class="p-3 text-center">
    <h2>Relive and share your adventures</h2>
    <p>Stories automatically creates a digital journal filled with only your best photos.</p>
  </div>

  <div class="home-secondary">
    <div class="p-3 text-center">
      <div class="container text-white mt-150">
        <h2>Discover Stories</h2>
        <p>
          <a class="btn btn-primary btn-lg" href="/about">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>
{{ end }}